<app-header-return [title]="'Load Test  For '+ productStep"></app-header-return>
<ion-content [fullscreen]="true">
  <ion-grid>
    <app-title [title]="'New Load Test'"></app-title>
    <ion-row class="lg:m-10 md:m-10">
      <ion-col size="12" >
        <ion-card>
          <ion-card-content>
            <ion-input class="" label="Target" placeholder="Enter a target" type="text" labelPlacement="stacked" [(ngModel)]="target"></ion-input>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="lg:m-10 md:m-10">
      <ion-col size="12" size-md="12" size-lg="12" class="flex flex-row justify-end">
        <ion-button class="" (click)="sendRequest()" color="primary" size="small">Load Target <ion-icon name="add"></ion-icon></ion-button>
      </ion-col>
    </ion-row>

    <app-title [title]="'Analytics For '+ productStep"></app-title>

    <ion-row class="lg:m-10 md:m-10">
      <ion-card class="w-full  p-6 flex flex-col justify-center items-center">
        <ion-card-header>
          <ion-card-title class="text-3xl">Total Number of Requests</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <h1 class="text-2xl text-white">{{ totalNumberOfRequests | number:'1.0-0' }}</h1>
        </ion-card-content>
      </ion-card>
    </ion-row>


    <ion-row class="lg:m-10 md:m-10">
      <ion-card class="w-full  p-6 flex flex-col justify-center items-center">
        <ion-card-header>
          <ion-card-title class="text-3xl">HTTP Status Codes</ion-card-title>
        </ion-card-header>
        <ion-card-content class="h-[25em] w-full">
          <div id="httpCodesChart" echarts [options]="statusCodesOptions" class="demo-chart h-full w-full"></div>
        </ion-card-content>
      </ion-card>
    </ion-row>

    <ion-row class="lg:m-10 md:m-10">
      <ion-card class="w-full  p-6 flex flex-col justify-center items-center">
        <ion-card-header>
          <ion-card-title class="text-3xl">HTTP Response Time</ion-card-title>
        </ion-card-header>
        <ion-card-content class="h-[25em] w-full">
          <div id="httpResponseTimeChart" echarts [options]="responseTimeOptions" class="demo-chart h-full w-full"></div>
        </ion-card-content>
      </ion-card>
    </ion-row>

    <app-title [title]="'Results for date: '"></app-title>
    <ion-row class="lg:m-10 md:m-10">
      <ion-col size="12" class="w-full">
        <ion-list class="w-full">
          <ion-item *ngFor="let day of listOfDates" (click)="viewHistory(day)" class="w-full">
            <ion-label>{{ day }}</ion-label>
            <ion-icon name="arrow-forward" color="primary"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
