<app-header-return [title]="'Flame Graph'"></app-header-return>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-title [title]="'Flame Graph'"></app-title>
  <ion-row class="lg:m-10 md:m-10">
    <ion-col size="12" size-md="4" size-lg="4" class="">
      <p>Showing data for : {{date}}</p>
    </ion-col>
  </ion-row>

  <ion-row class="lg:m-10">
    <ion-col size="12">
      <ion-card class="p-5">
      <ion-card class="bg-transparent">
        @if(this.usage_type === 'cpu'){
        <div class="wrapper-responsive">
          <ngx-flamegraph [config]="data"></ngx-flamegraph>
        </div>
        } @else {
        <div class="wrapper-responsive">
          <ngx-flamegraph [config]="data"></ngx-flamegraph>
        </div>
        }
      </ion-card>
      </ion-card>
    </ion-col>
  </ion-row>


</ion-content>



