<app-header-return [title]="'Choose a step'" ></app-header-return>

<ion-content [fullscreen]="true">

  <ion-grid>
    @if (usage_type === 'software_testing'){<app-title [title]="'Software Testing Analytics'"></app-title>}
    @if (usage_type === 'load_testing'){<app-title [title]="'Load Testing Analytics'"></app-title>}
    <ion-row class="lg:m-10 md:m-10">
      <ion-col size="12" size-md="4" size-lg="4" class="">
        <p>Choose a product step to view analytics.</p>
      </ion-col>
    </ion-row>
    <ion-row class="lg:m-10 md:m-10">
      <ion-col size="12" size-md="4" size-lg="4" class="">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ productObjective }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let step of product?.productSteps" (click)="navigateTo(product, step, usage_type)">
                <ion-label>{{ step }}</ion-label>
                <ion-icon name="arrow-forward"  color="primary"></ion-icon>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
