<!--
<ion-row> is a grid row. It should contain one or more <ion-col>. The 'class' attribute is used for styling the row.

<ion-col> is a column inside a grid row. It should be used inside an <ion-row>.
The 'size' attribute is the default size for all screens.
The 'size-md' attribute is the size for md screens.
The 'size-lg' attribute is the size for lg screens.

<h1> is a heading element. The '{{title}}' is an Angular interpolation binding that binds the 'title' property from the component to the text of the heading.
The 'class' attribute is used for styling the heading.
-->
<ion-row class="lg:m-10">
  <ion-col size="12" size-md="6" size-lg="6">
    <h1 class="text-4xl lg:text-6xl font-bold">{{title}}</h1>
  </ion-col>
</ion-row>
