<app-header-return [title]="'Incident Manager'"></app-header-return>

<ion-content [fullscreen]="true">
  <ion-grid>
    <app-title [title]="'Incident Manager'"></app-title>
    <ion-row class="lg:m-10 md:m-10">
      <ion-col size="12" size-md="12" size-lg="12" class="">
        <ion-button color="danger" class="w-full" (click)="navigateToNewIncident()">New Incident</ion-button>
      </ion-col>
    </ion-row>

    <app-title [title]="'Incidents'"></app-title>
    <ion-row class="lg:m-10 md:m-10">
      <ion-col size="12" size-md="12" size-lg="12" class="">
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>
