<app-header-return [title]="'Incident Manager'"></app-header-return>

<ion-content [fullscreen]="true">
  <ion-grid>
    <app-title [title]="'Incident Manager'"></app-title>
    <ion-row class="lg:m-10 md:m-10">
      <ion-col size="12" size-md="12" size-lg="12" class="">
        <ion-button color="danger" class="w-full" (click)="navigateToNewIncident()">New Incident</ion-button>
      </ion-col>
    </ion-row>

    <app-title [title]="'Open Incidents'"></app-title>
    <ion-row class="lg:m-10 md:m-10">
      <ion-col size="12" size-md="12" size-lg="12" class="">
        <ion-card class="p-5">
          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let incident of openIncidents"  (click)='goToIncident(incident)'>
                <ion-label  class="text-white">
                  <div class=" flex flex-row justify-between items-center">
                  <h2>{{incident.title}}</h2>
                    <div>
                  @if (incident.iAmIn) {
                    <ion-chip> Assigned to you</ion-chip>
                  }
                    <ion-chip  color="success"  >Open</ion-chip>
                    </div>
                  </div>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <app-title [title]="'Closed Incidents'"></app-title>
    <ion-row class="lg:m-10 md:m-10">
      <ion-col size="12" size-md="12" size-lg="12" class="">
        <ion-card class="p-5">
          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let incident of closeIncidents">
                <ion-label  class="text-white">
                  <div class=" flex flex-row justify-between items-center">
                    <h2 (click)='goToIncident(incident)' >{{incident.title}}</h2>
                    <div>
                      @if (incident.iAmIn) {
                        <ion-chip  (click)='goToIncident(incident)' > Assigned to you</ion-chip>
                      }
                      @if (incident.state === 'postmortem') {
                        <ion-chip  color="primary" (click)="goToPostmortem(incident)" > Postmortem</ion-chip>
                      } @else {
                        <ion-chip  color="danger" (click)='goToIncident(incident)' > Closed</ion-chip>
                      }
                    </div>
                  </div>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>
