<ion-content [fullscreen]="true" class="">
  <ion-grid class="h-full">
    <ion-row class="h-full">
      <!-- This column contains the logo image -->
      <ion-col size="12" size-sm="12" size-md="12" size-lg="6" size-xl="6" class="">
        <div class="flex flex-col  items-center h-full justify-end  lg:justify-center md:justify-end">
          <img class="h-48 lg:h-96"  src="https://firebasestorage.googleapis.com/v0/b/devprobe-89481.appspot.com/o/Login-Register%2Flogin.avif?alt=media&token=392ce685-399e-4a20-ae9d-2053d1368535" alt="login-ios-logo">
        </div>
      </ion-col>
      <!-- This column contains the login form -->
      <ion-col size="12" size-sm="12" size-md="12" size-lg="6" size-xl="6" class="">
        <div class="flex flex-col justify-center items-center lg:h-full md:h-full">
          <div class="flex flex-col justify-center items-center lg:min-w-20 bg-gray-800 p-10 lg:p-32 rounded-2xl">
            <h1 class="font-bold text-6xl text-white mb-6">Sign In</h1>
            <!-- Email input field -->
            <ion-input class="" label="Email" placeholder="Enter your email" type="email" labelPlacement="stacked"[(ngModel)]="email"></ion-input>
            <!-- Password input field -->
            <ion-input class="" label="Password" placeholder="Enter your password" type="password" labelPlacement="stacked"[(ngModel)]="password"></ion-input>
            <!-- Register button -->
            <ion-button class="m-4" (click)="loginUser()">Login</ion-button>
            <!-- Link to the register page -->
            <div class="flex flex-col lg:flex-row md:flex-row justify-center items-center">
              <p class="text-white text-xs lg:text-lg">Don't have an account?</p>
              <a [routerLink]="['/register']" class="text-sm lg:text-lg text-blue-500 lg:ml-2">Register</a>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
