<app-header-return [title]="'Graph Data For'"></app-header-return>

<ion-content [fullscreen]="true">
  <ion-grid>
    <app-title [title]="'Graph Data For'"></app-title>

    <ion-row class="lg:m-10 md:m-10">

      @for (metric of metrics; track metric){
        <ion-col size="12" size-md="6" size-lg="6" class="flex flex-row justify-center">
          <ion-card class="w-full h-60 p-6 flex flex-col justify-center items-center" (click)="goToGraph(metric)">
            <h1 class="text-6xl font-bold text-blue-500">{{metric}}</h1>
          </ion-card>
        </ion-col>
      }
    </ion-row>
  </ion-grid>



</ion-content>
