<app-header-return [title]="'History For: '+ date"></app-header-return>
<ion-content [fullscreen]="true">
  <ion-grid>
    <app-title [title]="'Load Test History'"></app-title>
    <ion-row class="lg:m-10 md:m-10">
      <ion-col size="12" class="w-full">
        <ion-card class="w-full  p-6 flex flex-col justify-center items-center">
          <ion-card-header>
            <ion-card-title class="text-3xl">Total Number of Requests</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h1 class="text-2xl text-white">{{ totalNumberOfRequests | number:'1.0-0' }}</h1>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


    <ion-row class="lg:m-10 md:m-10">
      <ion-card class="w-full  p-6 flex flex-col justify-center items-center">
        <ion-card-header>
          <ion-card-title class="text-3xl">HTTP Status Codes</ion-card-title>
        </ion-card-header>
        <ion-card-content class="h-[25em] w-full">
          <div id="httpCodesChartHistory" echarts [options]="statusCodesOptions" class="demo-chart h-full w-full"></div>
        </ion-card-content>
      </ion-card>
    </ion-row>

    <ion-row class="lg:m-10 md:m-10">
      <ion-card class="w-full  p-6 flex flex-col justify-center items-center">
        <ion-card-header>
          <ion-card-title class="text-3xl">HTTP Response Time</ion-card-title>
        </ion-card-header>
        <ion-card-content class="h-[25em] w-full">
          <div id="httpResponseTimeChartHistory" echarts [options]="responseTimeOptions" class="demo-chart h-full w-full"></div>
        </ion-card-content>
      </ion-card>
    </ion-row>



  </ion-grid>
</ion-content>
