<app-header-return [title]="'Software Testing Chooser'"></app-header-return>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <app-title [title]="'Software Testing Chooser'"></app-title>
    <ion-row class="lg:m-10 md:m-10">
      <ion-col size="12" size-md="4" size-lg="4" class="">
        <H2>Choose a type of test.</H2>
        <p></p>
      </ion-col>
    </ion-row>
    <ion-row class="lg:m-10 md:m-10">
      <ion-col size="12" size-md="4" size-lg="4" class="">
        <ion-card class="min-h-full flex flex-col justify-between">
          <ion-card-header><h1 class="text-3xl text-white">Unit Tests</h1></ion-card-header>
          <ion-card-content>
            <p class="text-white">A unit test is the smallest and simplest form of software testing. These tests are employed to assess a separable unit of software, such as a class or function, for correctness independent of the larger software system that contains the unit. Unit tests are also employed as a form of specification to ensure that a function or module exactly performs the behavior required by the system. Unit tests are commonly used to introduce test-driven development concepts.</p>
          </ion-card-content>
          <ion-card-content class="mt-auto">
            <ion-button color="primary" expand="block" fill="outline" (click)="navigateToCreateUnitTest()">Create Unit Test</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="4" size-lg="4" class="">
        <ion-card class="min-h-full flex flex-col justify-between">
          <ion-card-header><h1 class="text-3xl text-white">Integration Tests</h1></ion-card-header>
          <ion-card-content>
            <p class="text-white">Software components that pass individual unit tests are assembled into larger components. Engineers then run an integration test on an assembled component to verify that it functions correctly. Selenium, Playwright and Cypress are popular tools for integration testing.</p>
          </ion-card-content>
          <ion-card-content class="mt-auto">
            <ion-button color="primary" expand="block" fill="outline" (click)="navigateToCreateIntegrationTest()">Create Integration Test</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="4" size-lg="4" class="">
        <ion-card class="min-h-full flex flex-col justify-between">
          <ion-card-header><h1 class="text-3xl text-white">System Tests</h1></ion-card-header>
          <ion-card-content>
            <p class="text-white">A system test is the largest scale test that engineers run for an undeployed system. All modules belonging to a specific component, such as a server that passed integration tests, are assembled into the system. Then the engineer tests the end-to-end functionality of the system.</p>
          </ion-card-content>
          <ion-card-content class="mt-auto">
            <ion-button color="primary" expand="block" fill="outline" (click)="navigateToCreateSystemTest()">Create System Test</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


  <br>



    <ion-grid>
      <app-title [title]="'Unit Tests'"></app-title>
      <ion-row class="lg:m-10 md:m-10">
        <ion-col size="12" size-md="4" size-lg="4" class="">
          <p>Created tests for product step: {{productStep}}</p>
        </ion-col>
      </ion-row>
      <ion-row class="lg:m-10 md:m-10">
        <ion-col size="6" size-md="6" size-lg="6" class="">
          <ion-card>
            <ion-card-header>
              <ion-card-title class="flex flex-col justify-center items-center text-green-600">Passed Tests</ion-card-title>
            </ion-card-header>
            <ion-card-content class="flex flex-col justify-center items-center">
              <h1>{{passedUnitTests}}</h1>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6" size-md="6" size-lg="6" class="">
          <ion-card>
            <ion-card-header>
              <ion-card-title class="flex flex-col justify-center items-center text-red-800">Failed Tests</ion-card-title>
            </ion-card-header>
            <ion-card-content class="flex flex-col justify-center items-center">
              <h1>{{ failedUnitTests }}</h1>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="lg:m-10 md:m-10">
        <ion-col size="12" size-md="12" size-lg="12" class="">
          <ion-card>
            <ion-card-content class="h-[25em] ">
              <div id="unitChart"  echarts [options]="unitTestsChart" class="demo-chart h-full w-full p-4"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="lg:m-10 md:m-10">
        @for (unit of unitTests; track unit){
        <ion-col size="12" size-md="3" size-lg="3" class="">
          <ion-card>
            <ion-card-header class="flex-row flex justify-between items-center">
              <ion-card-title>{{unit.title}}</ion-card-title>
              <ion-icon name="information-circle" class="text-xl" (click)="infoAutomateUnitState(unit.title)"></ion-icon>
            </ion-card-header>
            <ion-card-content class="flex flex-col justify-center items-center">
              <p> Change the Test State: </p>
              <div class="flex flex-row justify-center items-center">
                @if (unit.state){
                  <ion-icon name="checkmark-circle" class="text-green-600 text-3xl" (click)="updateUnitState(unit.title, true)"></ion-icon>
                  <ion-icon name="close-circle" class="text-3xl" (click)="updateUnitState(unit.title, false)"></ion-icon>
                }
                @if (!unit.state){
                  <ion-icon name="checkmark-circle" class="text-3xl" (click)="updateUnitState(unit.title, true)"></ion-icon>
                  <ion-icon name="close-circle" class="text-red-800 text-3xl" (click)="updateUnitState(unit.title ,  false)"></ion-icon>
                }
              </div>
            </ion-card-content>
            <ion-card-content class=" flex flex-col justify-center items-center">
              <p> Assigned to </p>
              <ion-chip>{{unit.assigned_to}}</ion-chip>
            </ion-card-content>
            <ion-card-content>
              <ion-button color="primary" expand="block" (click)="copyUnitTestCode(unit.title)">Copy Test Code</ion-button>
              <ion-button color="danger" expand="block" (click)="deleteUnitTest(unit.title)">Delete Test</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        }
      </ion-row>

      <br>



      <app-title [title]="'Integration Tests'"></app-title>
      <ion-row class="lg:m-10 md:m-10">
        <ion-col size="12" size-md="4" size-lg="4" class="">
          <p>Created tests for product step: {{productStep}}</p>
        </ion-col>
      </ion-row>
      <ion-row class="lg:m-10 md:m-10">
        <ion-col size="6" size-md="6" size-lg="6" class="">
          <ion-card>
            <ion-card-header>
              <ion-card-title class="flex flex-col justify-center items-center text-green-600">Passed Tests</ion-card-title>
            </ion-card-header>
            <ion-card-content class="flex flex-col justify-center items-center">
              <h1>{{passedIntegrationTests}}</h1>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6" size-md="6" size-lg="6" class="">
          <ion-card>
            <ion-card-header>
              <ion-card-title class="flex flex-col justify-center items-center text-red-800">Failed Tests</ion-card-title>
            </ion-card-header>
            <ion-card-content class="flex flex-col justify-center items-center">
              <h1>{{ failedIntegrationTests }}</h1>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="lg:m-10 md:m-10">
        <ion-col size="12" size-md="12" size-lg="12" class="">
          <ion-card>
            <ion-card-content class="h-[25em] ">
              <div id="integrationChart"  echarts [options]="integrationTestsChart" class="demo-chart h-full w-full p-4"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="lg:m-10 md:m-10">
        @for (integration of integrationTests; track integration){
          <ion-col size="12" size-md="3" size-lg="3" class="">
            <ion-card>
              <ion-card-header class="flex-row flex justify-between items-center">
                <ion-card-title>{{integration.title}}</ion-card-title>
                <ion-icon name="information-circle" class="text-xl" (click)="infoAutomateIntegrationState(integration.title)"></ion-icon>
              </ion-card-header>
              <ion-card-content class="flex flex-col justify-center items-center">
                <p> Change the Test State: </p>
                <div class="flex flex-row justify-center items-center">
                  @if (integration.state){
                    <ion-icon name="checkmark-circle" class="text-green-600 text-3xl" (click)="updateIntegrationState(integration.title, true)"></ion-icon>
                    <ion-icon name="close-circle" class="text-3xl" (click)="updateIntegrationState(integration.title, false)"></ion-icon>
                  }
                  @if (!integration.state){
                    <ion-icon name="checkmark-circle" class="text-3xl" (click)="updateIntegrationState(integration.title, true)"></ion-icon>
                    <ion-icon name="close-circle" class="text-red-800 text-3xl" (click)="updateIntegrationState(integration.title ,  false)"></ion-icon>
                  }
                </div>
              </ion-card-content>
              <ion-card-content>
                <ion-button color="primary" expand="block" (click)="copyIntegrationTestCode(integration.title)">Copy Test Code</ion-button>
                <ion-button color="danger" expand="block" (click)="deleteIntegrationTest(integration.title)">Delete Test</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        }
      </ion-row>


      <br>



      <app-title [title]="'System Tests'"></app-title>
    <ion-row class="lg:m-10 md:m-10">
      <ion-col size="12" size-md="4" size-lg="4" class="">
        <p>System tests results for product step: {{productStep}}</p>
      </ion-col>
    </ion-row>
      <ion-row class="lg:m-10 md:m-10">
        <ion-col size="6" size-md="6" size-lg="6" class="">
          <ion-card>
            <ion-card-header>
              <ion-card-title class="flex flex-col justify-center items-center text-green-600">Passed Tests</ion-card-title>
            </ion-card-header>
            <ion-card-content class="flex flex-col justify-center items-center">
              <h1>{{passedSystemTests}}</h1>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6" size-md="6" size-lg="6" class="">
          <ion-card>
            <ion-card-header>
              <ion-card-title class="flex flex-col justify-center items-center text-red-800">Failed Tests</ion-card-title>
            </ion-card-header>
            <ion-card-content class="flex flex-col justify-center items-center">
              <h1>{{ failedSystemTests }}</h1>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    <ion-row class="lg:m-10 md:m-10">
      <ion-col size="12" size-md="12" size-lg="12" class="">
        <ion-card>
          <ion-card-content class="h-[25em]">
            <div id="systemChart" echarts [options]="systemTestsChart" class="demo-chart h-full w-full p-4"></div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row class="lg:m-10 md:m-10">
      <ion-col size="12" size-md="3" size-lg="3" class="" *ngFor="let test of systemTests">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ test.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button color="primary" expand="block" (click)="navigateToViewHistorySystemTest(test.title)">View Test Results</ion-button>
            <ion-button color="success" expand="block" (click)="navigateToExecuteSystemTest(test.title)">Execute Test</ion-button>
            <ion-button color="danger" expand="block" (click)="deleteSystemTest(test.title)">Delete Test</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


