<app-header [title]="'New Product'"></app-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <app-title [title]="'New Product Objective'"></app-title>
    <ion-row class="lg:m-10">
      <ion-col size="12">
        <ion-input class="" label="Product Objective" placeholder="Enter a objective *example(compose mail)" type="text" labelPlacement="stacked" [(ngModel)]=productObjective></ion-input>
      </ion-col>
    </ion-row>

    <ion-row class="lg:m-10">
      <ion-col size="12" size-lg="4" size-md="4" class="flex flex-col justify-between ">
        <h3 class="text-4xl lg:text-6xl font-bold">Product Steps</h3>
        <ion-input class="" label="Product Step" placeholder="Enter a step *example(open compose dialog)" type="text" labelPlacement="stacked" [(ngModel)]=productStep></ion-input>
        <div class="flex flex-row justify-center items-center flex-grow m-2">
          <ion-button size="small" color="primary" (click)="addProductStep()">Add Step</ion-button>
        </div>
        <ion-list class="bg-white">
          @for (step of new_product.productSteps; track step){
            <ion-item color="dark">
              <ion-label>{{step}}</ion-label>
            </ion-item>
          }
        </ion-list>
      </ion-col>
      <ion-col size="12" size-lg="4" size-md="4" class="flex flex-col justify-between ">
        <h3 class="text-4xl lg:text-6xl font-bold">Product Services</h3>
        <ion-input class="" label="Product Services" placeholder="Enter a service *example(outlook api)" type="text" labelPlacement="stacked" [(ngModel)]=productServices></ion-input>
        <div class="flex flex-row justify-center items-center flex-grow m-2">
          <ion-button size="small" color="primary" (click)="addProductService()">Add Service</ion-button>
        </div>
        <ion-list class="bg-white">
          @for (step of new_product.productServices; track step){
            <ion-item color="dark">
              <ion-label>{{step}}</ion-label>
            </ion-item>
          }
        </ion-list>
      </ion-col>
      <ion-col size="12" size-lg="4" size-md="4" class="flex flex-col justify-between ">
        <h3 class="text-4xl lg:text-6xl font-bold">SLOs (Service Level Objectives)</h3>
        <ion-input class="" label="Product Services" placeholder="Enter a service *example(outlook api)" type="text" labelPlacement="stacked" [(ngModel)]=productSLO></ion-input>
        <div class="flex flex-row justify-center items-center flex-grow m-2">
          <ion-button size="small" color="primary" (click)="addProductSLO()">Add SLO</ion-button>
        </div>
        <ion-list class="bg-white">
          @for (step of new_product.productSLOs; track step){
            <ion-item color="dark">
              <ion-label>{{step}}</ion-label>
            </ion-item>
          }
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="lg:m-10">
      <ion-col size="12">
        <div class="flex flex-row justify-center items-center flex-grow m-2">
          <!-- make a huge button that is 100% width -->
          <ion-button size="" color="success" (click)="createProduct()">Model The Product</ion-button>
        </div>
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>
