<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start" menu="menu-id">
    </ion-menu-button>
    <ion-title >Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="flex flex-col items-center justify-center h-full pl-10 pr-10 lg:pl-32 lg:pr-32">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    <button class="min-w-full bg-red-600 p-2 m-2 rounded-2xl" (click)="logout()">Logout</button>
  </div>
</ion-content>
