<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start" menu="menu-id">
    </ion-menu-button>
    <ion-title >Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    <ion-button class="bg-amber-200 min-w-96">Hola</ion-button>
  </div>
</ion-content>
