<app-header-return [title]="'Compare Flame Graphs'"></app-header-return>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-title [title]="'Compare Flame Graphs'"></app-title>

  @if (lenDates>=3){
  <ion-row class="lg:m-10 md:m-10">
    <ion-col *ngFor="let date of datesForComparison" size="12" size-md="4" size-lg="4" class="">
      <ion-card class="w-full">
        <ng-container>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Data for: {{date}}</ion-card-title>
            </ion-card-header>
          <ngx-flamegraph [config]="configurations[date]" ></ngx-flamegraph>
          </ion-card>
        </ng-container>
      </ion-card>
    </ion-col>
  </ion-row>
  }

  @if (lenDates<3){
    <ion-row class="lg:m-10 md:m-10">
      <ion-col *ngFor="let date of datesForComparison" size="12" size-md="6" size-lg="6" class="">
        <ion-card class="w-full">
          <ng-container>
            <ion-card>
              <ion-card-header>
                <ion-card-title>Data for: {{date}}</ion-card-title>
              </ion-card-header>
              <ngx-flamegraph [config]="configurations[date]" ></ngx-flamegraph>
            </ion-card>
          </ng-container>
        </ion-card>
      </ion-col>
    </ion-row>
  }

  <ion-row class="lg:m-10 md:m-10">
    <ion-col size="12" size-md="12" size-lg="12" class="flex flex-row justify-center">
      <ion-card class="min-w-full">
        <ion-card-header>
          <ion-card-title>DevProbe AI Analytic</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <markdown class="text-white">{{aiAnalytic}}</markdown>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>




</ion-content>
