<app-header-return [title]="'Compare Flame Graphs'"></app-header-return>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-title [title]="'Compare Flame Graphs'"></app-title>

  <ion-row class="lg:m-10">
    <ion-col size="12">
      <ng-container *ngFor="let date of datesForComparison">
        <ion-card class="p-5">
          <ion-card class="bg-transparent">
            <h3>{{ date }}</h3>
            <div class="wrapper-responsive">
              <ngx-flamegraph [config]="configurations[date]"></ngx-flamegraph>
            </div>
          </ion-card>
        </ion-card>
      </ng-container>
    </ion-col>
  </ion-row>

</ion-content>
